[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = https://github.com/christoomey/vim-tmux-navigator.git
